# Configuration file for lgproxy.py
# Copy to lgproxy.cfg and edit to suit your needs.

DEBUG = False

LOG_FILE = "/var/log/bird-lg/lgproxy.log"
LOG_LEVEL = "WARNING"

# Who can connect to the proxy to launch Bird commands
ACCESS_LIST = ["192.0.2.42", "2001:db8::42"]

# Source IP for traceroute/traceroute6
IPV4_SOURCE = "192.0.2.1"
IPV6_SOURCE = "2001:db8::1"
