# Configuration file for lgproxy.py
# Copy to lgproxy.cfg and edit to suit your needs.

DEBUG = False

LOG_FILE = "/var/log/bird-lg/lgproxy.log"
LOG_LEVEL = "WARNING"

# Which IP/port to listen to for the frontend
BIND_IP = "0.0.0.0"
BIND_PORT = 5000

# Who can connect to the proxy to launch Bird commands
ACCESS_LIST = ["192.0.2.42", "2001:db8::42"]

# Location of Bird control sockets, example for Debian > wheezy
#BIRD_SOCKET = "/run/bird/bird.ctl"
#BIRD6_SOCKET = "/run/bird/bird6.ctl"

# Source IP for traceroute/traceroute6
IPV4_SOURCE = "192.0.2.1"
IPV6_SOURCE = "2001:db8::1"
